.button {
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    transition: opacity .1s linear;
}

.button:hover {
    opacity: .85;
}

.button:active {
    opacity: 1;
}

.button:disabled {
    opacity: .6;
    cursor: not-allowed;
}