.product-list {
    padding: 0;
    margin: 0;
}

.product-list__item {
    list-style: none;
    margin-bottom: 80px;
}

.product-list__title {
    margin-bottom: 20px;
    font-weight: 400;
}

.product-list__products {
    display: grid;
    grid-template-columns: repeat(3, minMax(150px, 1fr));
    gap: 40px;
}