:root {
  --light-color: #F4F2F0;
  --dark-color: #27252D;
  --accent-color: #D65856;
  --primary-color: #2f6be8;
  --secondary-color: #999999;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  color: var(--dark-color)
}

body {
  background: var(--light-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex: 1 0 auto;
}


